*{
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    font-family: sans-serif;
}
body{
    background-color: #0d9aad2f;
}
.header{
    display: flex;
    /*  */
}
.navigation-bar{

    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 17, 255, 0.277);
    flex: 1 1 auto;  /* shrink : 1 | grow : 0 | basis*/
    max-width: 100%;
    padding: 10px;

}
.nav-list{
    list-style: none;
    display: flex;
   justify-content: space-between;
    align-items: center;
}
.link{
    color: rgba(0, 126, 128, 0.756);
    text-decoration: none;
    margin: 0 40px 0 0;
}
.link:hover{
    color: rgba(223, 242, 11, 0.713);
    text-decoration: underline rgba(165, 42, 42, 0.544);
}

.rabit-pics{
    height: 50px;
    border-radius: 100%;
    border: 2px solid black;
    background-color: rgba(194, 194, 26, 0.402);
   margin-left: 10px;
}
.intro img{
    margin-top: 50px;
    height: 250px;
    border-radius: 100%;
}
.intro{
    display: flex;
}

.message{
    width: 30%;
    /* background-color: rgb(12, 132, 207); */
    margin-top: 100px;
    margin-left: 30px;
    background-color: rgba(189, 26, 75, 0.435);
    border-radius: 150px;
    padding: 30px 20px 0 0;
    padding-left: 60px;
    height: 150px;
}
.bun-name{
    font-size: 20px;
    background-color: rgba(0, 17, 255, 0.277);
    padding-right: 20px;
    padding-top: 5px;
}
.bun-in-words{
    /* background-color: rgba(255, 255, 0, 0.381); */
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 20px;
    font-weight: 550;
}
.nav-brand{
    display: flex;
}
.quotes{
    margin-top: 70px;
    display: flex;
}
.bunny-q{
    height: 350px;
}
.message1{
    width: 30%;
    /* background-color: rgb(12, 132, 207); */
    margin-top: 100px;
    margin-left: 30px;
    background-color: rgba(189, 26, 75, 0.435);
    border-radius: 150px;
    padding: 30px 10px 0 0;
    padding-left: 60px;
    height: 150px;
    margin-left: 15%;
}
.remainder-1 img{
    height: 100px;
    border-radius: 20%;
    margin-left: 70%;

}

.remainder{
    display: flex;
    background-color: rgba(0, 17, 255, 0.277);
    margin-left: 10%;
    flex: 1 1 auto;
    margin-top: 30px;
    margin-right: 8%;
    border-top: 8px solid rgba(17, 173, 200, 0.851);
    border-left: 5 px solid rgba(17, 173, 200, 0.851);
    border-right: 3px;
    height: 280px;
    width: 40%;
}
.remainder-2{
    width: 40%;
    margin-left: 20%;
    margin-top: 20px;

}
.intellectual{
    font-weight: bold;
    font-size: 20px;
  background: -webkit-linear-gradient(#9b1e1e, #cbd815);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer{
    margin-top: 80px;
    background-color: rgba(0, 17, 255, 0.277);
}
.copyright{
    text-align: center;
    margin-bottom: 40px;
    padding-top: 20px;
    color: white;
}
.footer ul{
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 30px;
}
.footer ul a{
    text-decoration: none;
    color: rgba(0, 126, 128, 0.756);
    text-decoration: none;
    margin: 0 40px 0 0;
}
.github{
    margin-right: 30px;
}

.linkedin:hover{
    color: rgba(223, 242, 11, 0.713);
    text-decoration: underline rgba(165, 42, 42, 0.544);
}
.facebook:hover{
    color: rgba(223, 242, 11, 0.713);
    text-decoration: underline rgba(165, 42, 42, 0.544);
}
.github:hover{
    color: rgba(223, 242, 11, 0.713);
    text-decoration: underline rgba(165, 42, 42, 0.544);
}
.facebook{
   padding-left: 30px;
}
